<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Discos - Inserir Disco</title>
    <link rel="stylesheet" href="/Views/styles.css"> <!-- Caminho para o seu arquivo de estilos -->
</head>
<body>

    <header>
        <h1>Catálogo de Discos</h1>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/discos">Discos</a></li>
                <li><a href="/faixas">Faixas</a></li>
                <li><a href="/artistas">Artista</a></li>

            </ul>
        </nav>
    </header>

    <main>
        <h2>Inserir Nova Faixa</h2>
        <form id="form-inserir-faixa" method="POST" action="/faixas">
            
            <label for="titulo">Título da faixa:</label>
            <input type="text" id="titulo" name="titulo" required>
    
            <label for="Genero">Gênero:</label>
            <select id="Genero" name="Genero" required>
                <option value="Rock">Rock</option>
                <option value="Pop">Pop</option>
                <option value="Jazz">Jazz</option>
                <option value="Eletrônica">Eletrônica</option>
                <option value="Clássica">Clássica</option>
            </select>
    
            <!-- <label for="idDisco">idDisco:</label>
            <input type="number" id="idDisco" name="idDisco" required> -->
            
            <button type="submit">Inserir Faixa</button>
        </form>
    </main>
    
    <footer>
        <p>&copy; 2024 Catálogo de Discos</p>
    </footer>

s</body>
</html>
